body{
    margin: 0;
    padding: 0;
}

/*Começo da configuração do bootstrap*/
.bg-red{
    background-color: red !important;
   
}
.navbar{
    padding: 0;
}

.bg-red a{
    color: #FFFFFF !important;
    font-size: 25px;
}
/*Final da configuração do bootstrap*/

.banner{
    width: 100%;
    height: 80vh;
    background-color:black ;
}
