@charset "UTF-8";

body{
    margin: 0;
    padding: 0;
}

/*Começo da configuração do bootstrap*/
.bg-red{
    background-color: #D81616;
}
.navbar{
    padding: 0;
}

.bg-red a{
    color: #FFFFFF !important;
    font-size: 18px;
}
/*Final da configuração do bootstrap*/

.banner{
    width: 100%;
    height: 80vh;
    background-color:black ;
}

.oqueexercicio{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;

    top: 90vh;
    position: absolute;
    gap: 20px;
    min-height: 65vh;

}
.oqueexercicio >div{
width: 35%;

}

.oqueexercicio img{
    width: 100%;
    border-radius: 10px;
}

.exercicio{
    display: flex;
    flex-direction: column;
    align-items: top;
    height: 60%;
    padding: 30px;
}
@media (max-width:1300px) and (min-width:1000px) {
    .oqueexercicio >div{
        width: 60%;
    
    }
    .oqueexercicio img{
        border-radius: 0 10px 10px 0;
    }
}
@media (max-width:1000px) {
    .oqueexercicio{
        display: block;

    }
    .oqueexercicio > div{
        margin: 0 auto;
        width: 80%;
    }
}

