body {
    margin: 0;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Começo da configuração do bootstrap*/
.bg-red {
    background-color: red !important;

}

.navbar {
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.bg-red a {
    color: #FFFFFF !important;
    font-size: 25px;
}

/*Final da configuração do bootstrap*/

/*Começo da condiguração da section o que é o exercicio físico*/

.banner {
    width: 100%;
    height: 80vh;
    background-color: black;
    position: relative;
}

.oqueexercicio {
    width: 100%;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-height: 65vh;

}

.oqueexercicio>div {
    width: 35%;

}

.oqueexercicio img {
    width: 100%;
    border-radius: 10px;
}

.exercicio {
    display: flex;
    flex-direction: column;
    align-items: top;
    height: 60%;
    padding: 30px;
}


@media (max-width:1300px) and (min-width:600px) {
    .oqueexercicio>div {
        width: 60%;

    }

    .oqueexercicio img {
        border-radius: 0 10px 10px 0;
    }
}



@media (max-width:600px) {
    .oqueexercicio {
        display: block;
        width: 100vw;

    }

    .oqueexercicio>div {
        margin: 0 auto;
        width: 80%;

    }

    .exercicio {
        width: 100%;
        padding: 0;
    }

    .exercicio p {
        text-align: justify;
    }

}

/*Finilização da condiguração da section o que é o exercicio físico*/
.imcmt {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;


}

.imcmt h1 {
    font-size: 36px;
    text-align: left;
    width: 60%;
    margin: 40px auto;
    text-decoration: underline rgb(209, 0, 0) 4px;

}

.subtopico {
    width: 60%;
}

.subtopico p {
    font-family: "Roboto", sans-serif;
    text-align: justify;
    font-size: 20px;
}

.subtopico h3,
.imcmt h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;

}

@media (max-width:900px) {
    .imcmt h1 {
        width: 80%;
    }

    .subtopico {
        width: 80%;
        padding: 40px 0;
    }

    .subtopico p,
    .subtopico h3 {
        width: 100%;
    }
}

@media (max-width:340px) {
    .imcmt h1{
        width: 95%;
        font-size: 25px;
    }

    .subtopico{
        width: 85%;
    }
}


/*Fim do sextion de preparação


Começo da calculadora de MT
*/




.display{
    width: 40%;
    box-shadow: 0px 0px 19px 15px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    padding: 40px;
    border-radius: 20;
    margin: 100px auto;
    text-align: center;
    
}

.display input{
    width: 40%;
    height: 40px;
    margin: 10px;
    border-radius: 100px;
    border: gray 2px solid;
    padding: 0 20px;
    text-align: center;
}
.display input::placeholder{
    text-align: center;
    color: gray;
    font-size: 20px;
}

.display button{
    background-color: red;
    color: #FFFFFF;
    width: 30%;
    height: 40px;
    padding: 3px;
    border-radius: 100px;
    border: none;
    font-size: 25px;
    

}

.box-s{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 30px;
}

.box-s h3{
    background-color: rgb(200, 0, 0);
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 400;
    border: #FFF 2px solid;
    transition: 0.3s;
    cursor:pointer;
}

.box-s h3:hover{
    background-color: #FFFFFF;
    border: red 2px solid;
    color:black;
}


@media (max-width:900px)  {
    .display{
        width: 90%;

    }
}


@media (max-width:600px)  {

    .display{
        padding: 5px ;
    }

    .display input, .display button{
        width: 80%;
    }

    .box-s{
        gap: 0px;
        flex-direction: column;
    }
    .box-s h3{
        margin: 0;
    }

}

