#menu{ /*that header needs to ocupated every screen width*/
    color: rgb(255, 255, 255);
    background-color: red;
    padding: 10px;
    display: flex; /*texts align*/
    justify-content: center;
    justify-content: space-around;
}

#content_init{ /*ALIGN THIS ITENS*/  /*!!!! This div contains an image, but when the screen is full the image is cut off, please fix it*/
    position: relative;
    padding: 10PX;
    width: auto;
    height: 400px;
    background-image: url("Assets/Images/image_pag1_peoplesrun.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#btn_more{
    background-color: red;
    padding: 10px;
}

#phisical_exercise{
    justify-content: space-around;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

#img_explication{
    padding: 50px;
    width: 600px;
    height: auto;
}

#title_explication{
    padding: 50px;
}